# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\myDemoTest\springCloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
